.container{
  background-color: black;
  width: 100%;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 3fr); /* 4 columns with equal width */
  grid-template-rows: repeat(2, 1fr); /* 2 rows with equal height */
  gap: 10px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
}

.yu{
  color: rgba(0, 0, 0, 0.597);
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.large {
  grid-column: span 1;
  grid-row: span 1;
}

.small {
  grid-column: span 1;
  grid-row: span 1;
}

.red {
  background-color:#ea4335;
}


.green {
  background-color: #34a853;
}

.blue {
  background-color: #4285F4;
}

.yellow {
  background-color: #F4B400;
}

img {
  width: auto; /* Adjusted image size */
  height: 100%; /* Adjusted image size */
  
}


.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center; /* Center text horizontally */
  width: 100%; /* Ensure text is fully centered */
}